.splash-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url('/eyequest-online/images/splash_bg.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 60em;
}

.column{
    margin: 1.5em 3em;
    flex: 1 1 0;
    min-width: 19em;
}

.col3{
    height: 90%;
}